{% load i18n hardrada %}
<div class="actions mt-2">
  {% block actions %}
    {% block actions-form %}
    {% for field in action_form %}
    {% if field.label %}
    <div class="input-group mb-1">
      <label class="input-group-text" for="id_{{ field.name }}">{{ field.label }}</label>
      <select class="form-select" id="id_{{ field.name }}" name="{{ field.name }}">
        {% for value, name in field.field.choices %}<option value="{{ value }}">{{ name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-outline-secondary" title="{% translate "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% translate "Go" %}</button>
    </div>
    {% endif %}{% endfor %}
    {% endblock %}

    <!-- Counter -->
    {% block actions-counter %}
    {% if actions_selection_counter %}
        <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
        {% if cl.result_count != cl.result_list|length %}
        <span class="all hidden">{{ selection_note_all }}</span>
        <span class="question hidden">
            <a href="#" title="{% translate "Click here to select the objects across all pages" %}">{% blocktranslate with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktranslate %}</a>
        </span>
        <span class="clear hidden"><a href="#">{% translate "Clear selection" %}</a></span>
        {% endif %}
    {% endif %}
    {% endblock %}
  {% endblock %}
</div>