html {
	font-family: "roboto-regular", sans-serif;
    padding: 0;
    margin: 0;
}
.bg-hardrada {
    background-color: #1a1d20;
}
.text-hardrada {
    color: #1a1d20;
}
/* MENU */
.menu-collapsed {
    width: 15rem;
}
.menu-extended {
    width: 15rem;
}

/* CONTENT */
.content-extended {
    margin-left: 15rem;
}