/**
 * =================================================================== 
 *
 *  Hardrada Stylesheet
 *  2024-05-15
 *  ------------------------------------------------------------------
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. page base styles
 *  03. Menu styles
 *  04. Header Styles
 *  05. Content Styles
 * =================================================================== 
 */


/** 
 * ===================================================================
 * 01. webfonts
 * ------------------------------------------------------------------- 
 */

@import url("fonts.css");

/** 
 * ===================================================================
 * 02. page base styles
 * ------------------------------------------------------------------- 
 */
html {
	font-family: "roboto-regular", sans-serif;
    padding: 0;
    margin: 0;
}
.bg-hardrada {
    background-color: #1a1d20;
}
.text-hardrada {
    color: #1a1d20;
}

/** 
 * ===================================================================
 * 03. Menu styles
 * ------------------------------------------------------------------- 
 */
.menu a {
    text-decoration: none;
}
.menu-collapsed {
    width: 3.1rem;
}
.menu-extended {
    width: 15rem;
}
.menu .menu-item {
    font-size: 1rem;
}
.menu .menu-model {
    font-size: 0.8rem;
}
.menu .menu-item:hover, .menu .menu-model:hover {
    color: #eee;
    background-color: #363636;
}
.menu-collapsed .app-name, .menu-collapsed .app-arrow, .menu-collapsed .app-model, .menu-collapsed .logo-name {
    display: none;
}

/** 
 * ===================================================================
 * 04. Header Styles
 * ------------------------------------------------------------------- 
 */
 .header #profile-tools {
    width: 15rem;
    right: 0px;
    left: auto;
 }

 /** 
 * ===================================================================
 * 05. Content Styles
 * ------------------------------------------------------------------- 
 */
.content-extended {
    margin-left: 15rem;
}
.content-collapsed {
    margin-left: 3.1rem;
}