@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto-light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}