{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}" data-bs-theme="dark">
<head>

<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{% static "admin/css/bootstrap/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
{% block extrastyle %}{% endblock %}

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.actions.js' %}"></script>
{% block extrahead %}{% endblock %}

{% block responsive %}
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

  {% if not is_popup %}
  {% block menu %}
  <div class="menu menu-extended fixed-top bg-hardrada h-100" style="width: 15rem !important">
    <nav class="navbar border-bottom border-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'admin/img/logo-dark.svg' %}" alt="Logo" width="25" height="25" class="d-inline-block align-text-top me-2">
          {% block branding %}{% endblock %}
        </a>
      </div>
    </nav>
  </div>
  {% endblock %}

  <div class="content content-extended">
    {% block header %}
    <nav class="navbar border-bottom border-dark-subtle">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <span>{{ title }}</span>
        </a>
      </div>
    </nav>
    {% endblock %}
  </div>
  {% endif %}

  <!-- Header -->
  {% if is_popup %}
    <nav class="navbar border-bottom border-dark-subtle">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'admin/img/logo-dark.svg' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          <span style="padding-left: 13rem;">{{ title }}</span>
        </a>
      </div>
    </nav>
    <div class="menu m-0 p-0 position-fixed bg-dark-subtle h-100" style="width: 15rem; top: 0">

      <div class="mt-3">
        <a class="menu-item d-block border-start border-4 border-dark ps-1 text-light py-1" href="{% url 'admin:index' %}">
          <img src="{% static 'admin/img/home-dark.svg' %}" width="20" height="20" class="m-2">
          <span class="align-middle">{% trans 'Home' %}</span>
        </a>

        {% for app in available_apps %}<a class="menu-app d-block border-start border-4 border-dark ps-1 text-light py-1" href="{% url 'admin:index' %}" title="{{ app.name }}">
          <img src="{% static 'admin/img/home-dark.svg' %}" width="20" height="20" class="m-2">
          <span class="align-middle">{{ app.name|slice:":20" }}</span>
          <img src="{% static 'admin/img/arrow-dark.svg' %}" width="20" height="20" class="m-2 float-end">
        </a>
        {% for model in app.models %}<a class="menu-model d-block text-light py-1 ps-5" href="#">
          {{ model.name }}
        </a>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    <!-- END Header -->
  {% endif %}

  

</body>
</html>
